In [1]:
# casting: conversion of one data type to another datatype is called casting

In [3]:
# int  --> to float and string is possible,
# float --> to int and string is possible. 
# string --> to float is possible, and conversion of string to int is possible(inside string all character should be number)
# list ---> to tuple , to set, to frozenset  
# tuple ---> to list , to set , to frozenset
# set ---> to list , to frozenset, to tuple.
# frozenset--> to list ,to tuple, to set 
# dictionary ---> to list , to tuple , to set possible but there is a huge data lose
# complex  -->  
# boolean  -->

In [5]:
# int  --> to float and string is possible,
a=10
print(type(a))

<class 'int'>

In [8]:
# int to float
b=float(a)
print(type(b),b)

<class 'float'> 10.0

In [14]:
# int to string
c=str(a)
print(c,type(c))

10 <class 'str'>

In [16]:
# float --> to int and string is possible. 
a=10.99

In [19]:
# float to int
b=int(a)
print(b,type(b))

10 <class 'int'>

In [22]:
# float to string
c=str(a)
print(c,type(c))

10.99 <class 'str'>

In [23]:
c

'10.99'

In [24]:
int(c)

ValueError: invalid literal for int() with base 10: '10.99'

In [26]:
d=float(c)
print(d,type(d))

10.99 <class 'float'>

In [27]:
int(d)

10

In [30]:
d="10."

In [33]:
e=float(d)
e

10.0

In [38]:
int(float("10.9k"))

ValueError: could not convert string to float: '10.9k'