In [2]:
# dictionary
# dictionary constructor is dict()
# dictionary literal is {}
# dictionary is a combination of key and values pair
# dictionary support indexing but not slicing
# dictionary key must be unique and immutable datatype(hashable)
# dictionary values my or may not be immutable datatype.
# dictionary support nesting 
# dictionary has many methods.

In [3]:
a=dict()

In [6]:
print(a)
print(type(a))

{}
<class 'dict'>

In [7]:
b={}
print(b)
print(type(b))

{}
<class 'dict'>

In [8]:
c={1:"Krishna",2:"Mohan",3:"Sohan",5:"Monu"}

In [9]:
print(c)

{1: 'Krishna', 2: 'Mohan', 3: 'Sohan', 5: 'Monu'}

In [10]:
#key has two rule:
# 1> key must be immutable 
# 2> key must be unique

In [11]:
c={1:"Krishna",2:"Mohan",3:"Sohan",5:"Monu",2:"Ronny"}

In [13]:
print(c)

{1: 'Krishna', 2: 'Ronny', 3: 'Sohan', 5: 'Monu'}

In [14]:
d={1:"Krishna",10.0:"Mohan","name":"Sohan",(12,3,4):"Monu",2:"Ronny"}

In [15]:
print(d)

{1: 'Krishna', 10.0: 'Mohan', 'name': 'Sohan', (12, 3, 4): 'Monu', 2: 'Ronny'}

In [19]:
e={1:10,10.99:"Mohan","name":10.99,(12,3,4):[1,2,3,4],2:{1,2,3,4},10:{1:"Ramu",2:"shamu"}}

In [20]:
print(e)

{1: 10, 10.99: 'Mohan', 'name': 10.99, (12, 3, 4): [1, 2, 3, 4], 2: {1, 2, 3, 4}, 10: {1: 'Ramu', 2: 'shamu'}}

In [21]:
print(e.keys())

dict_keys([1, 10.99, 'name', (12, 3, 4), 2, 10])

In [22]:
print(e.values())

dict_values([10, 'Mohan', 10.99, [1, 2, 3, 4], {1, 2, 3, 4}, {1: 'Ramu', 2: 'shamu'}])

In [23]:
e.pop()

TypeError: pop expected at least 1 argument, got 0

In [24]:
e.pop('name')

10.99

In [25]:
print(e)

{1: 10, 10.99: 'Mohan', (12, 3, 4): [1, 2, 3, 4], 2: {1, 2, 3, 4}, 10: {1: 'Ramu', 2: 'shamu'}}

In [26]:
e.popitem()

(10, {1: 'Ramu', 2: 'shamu'})

In [27]:
print(e)

{1: 10, 10.99: 'Mohan', (12, 3, 4): [1, 2, 3, 4], 2: {1, 2, 3, 4}}

In [28]:
e.items()

dict_items([(1, 10), (10.99, 'Mohan'), ((12, 3, 4), [1, 2, 3, 4]), (2, {1, 2, 3, 4})])

In [29]:
e.clear()

In [30]:
print(e)

{}

In [31]:
e.update({1:"krishna",2:"mohan",3:"Rohan"})

In [32]:
print(e)

{1: 'krishna', 2: 'mohan', 3: 'Rohan'}

In [38]:
e.get(1,"data is not available")

'krishna'

In [39]:
e.get(10,"data is not available")

'data is not available'

In [40]:
print(e)

{1: 'krishna', 2: 'mohan', 3: 'Rohan'}

In [47]:
f=e.copy()

In [48]:
e.update({113:"Soni"})

In [50]:
print("e",e,id(e))
print("f",f,id(f))

e {1: 'krishna', 2: 'mohan', 3: 'Rohan', 10: 'Mohan', 113: 'Soni'} 2657673075968
f {1: 'krishna', 2: 'mohan', 3: 'Rohan', 10: 'Mohan'} 2657673222208

In [51]:
z={}

In [54]:
y=z.fromkeys([1,2,3,4,5,6,7,8,9],"Not filled")

In [55]:
print(y)

{1: 'Not filled', 2: 'Not filled', 3: 'Not filled', 4: 'Not filled', 5: 'Not filled', 6: 'Not filled', 7: 'Not filled', 8: 'Not filled', 9: 'Not filled'}

In [56]:
y[1]="krishna"

In [57]:
print(y)

{1: 'krishna', 2: 'Not filled', 3: 'Not filled', 4: 'Not filled', 5: 'Not filled', 6: 'Not filled', 7: 'Not filled', 8: 'Not filled', 9: 'Not filled'}

In [63]:
s={}

In [68]:
s.setdefault(4,"NA")

'NA'

In [69]:
print(s)

{2: 'NA', 3: 'NA', 4: 'NA'}

In [61]:
a={[1,2,3,4]:"school"}

TypeError: unhashable type: 'list'

In [62]:
a={(1,2,3,4):"school"}

In [70]:
y

{1: 'krishna',
 2: 'Not filled',
 3: 'Not filled',
 4: 'Not filled',
 5: 'Not filled',
 6: 'Not filled',
 7: 'Not filled',
 8: 'Not filled',
 9: 'Not filled'}

In [73]:
y.update({2:"Rohan",3:"SOhan",4:"Monu",5:"Raju"})

In [74]:
y

{1: 'krishna',
 2: 'Rohan',
 3: 'SOhan',
 4: 'Monu',
 5: 'Raju',
 6: 'Not filled',
 7: 'Not filled',
 8: 'Not filled',
 9: 'Not filled'}