In [1]:
# format_string:

In [2]:
age=27
name="krishna"

print("My name is krishna and I am 27")

My name is krishna and I am 27

In [3]:
age=27
name="krishna"

print("My name is {name} and I am {age}")

My name is {name} and I am {age}

In [4]:
age=27
name="krishna"

print(f"My name is {name} and I am {age}")

My name is krishna and I am 27

In [5]:
age=28
name="krishna"

print(f"My name is {name} and I am {age}")

My name is krishna and I am 28

In [6]:
age=28
name="krishna"

print(F"My name is {name} and I am {age}")

My name is krishna and I am 28

In [9]:
#.format
age=28
name="krishna"

print("My name is {} and I am {}".format(name,age))

My name is krishna and I am 28

In [ ]:
hacking: SQL injection hacking

In [10]:
#.format
age=28
name="krishna"

print("My name is {0} and I am {1}".format(name,age))

My name is krishna and I am 28

In [11]:
#.format
age=28
name="krishna"

print("My name is {1} and I am {0}".format(name,age))

My name is 28 and I am krishna

In [13]:
#.format
age=28
name="krishna"

print("My name is {1} and I am {0}".format(age,name))

My name is krishna and I am 28

In [24]:
age=28.45454
name="krishna"

print(f"My name is {name} and I am {2f}")

SyntaxError: invalid decimal literal (1402505552.py, line 4)