In [1]:
a=1
b=1.0
c="1"

d=[a,b,c]

In [2]:
print(d)

[1, 1.0, '1']

In [3]:
# list 
# list constructor is list()
# list literal is []
# list is a set of sequence of elements
# list is mutable(unhashable)
# list support indexing 
# list support slicing 
# list support concatination 
# list support nested list 
# list support nested slicing 
# list has various methods.

In [5]:
a=list()
print(a,type(a))

[] <class 'list'>

In [6]:
c=[1,2,10.0,"krishna",[1,2,3]]

In [7]:
print(c)

[1, 2, 10.0, 'krishna', [1, 2, 3]]

In [8]:
print(c)

[1, 2, 10.0, 'krishna', [1, 2, 3]]

In [14]:
d=c[4]
d

[1, 2, 3]

In [16]:
c[4][1]

2

In [10]:
print(c[1])

2

In [11]:
print(c[3])

krishna

In [12]:
print(c[4])

[1, 2, 3]

In [18]:
print([1,2,3,4]+[3,4,5,6,7]+["a","b"]) #[1,2,3,4,3,4,5,6,7]

[1, 2, 3, 4, 3, 4, 5, 6, 7, 'a', 'b']

In [19]:
# Methods

In [22]:
a=[]
print(a,type(a))
print(id(a))

[] <class 'list'>
2913161639296

In [23]:
a.append(1)

In [25]:
print(a,id(a))

[1] 2913161639296

In [26]:
a.append(1.0)

In [28]:
print(a,id(a))

[1, 1.0] 2913161639296

In [29]:
a.append("krishna")

In [30]:
print(a,id(a))

[1, 1.0, 'krishna'] 2913161639296

In [32]:
b=a.copy()
print(b,id(b))

[1, 1.0, 'krishna'] 2913161829632

In [35]:
c=a.copy()

In [36]:
print(a,id(a))
print(c,id(c))

[1, 1.0, 'krishna'] 2913161639296
[1, 1.0, 'krishna'] 2913161832832

In [37]:
print(a)

[1, 1.0, 'krishna']

In [38]:
a.count(1)

2

In [44]:
d=[[],list(),1,2,3,4,[1,2,3]]

In [45]:
d.count([])

2

In [46]:
d.append([1,2,3,4])

In [47]:
print(d)

[[], [], 1, 2, 3, 4, [1, 2, 3], [1, 2, 3, 4]]

In [48]:
d.extend([1,2,3,4])

In [49]:
print(d)

[[], [], 1, 2, 3, 4, [1, 2, 3], [1, 2, 3, 4], 1, 2, 3, 4]

In [50]:
d.clear()

In [51]:
print(d)

[]

In [52]:
d.extend("krishna")

In [53]:
print(d)

['k', 'r', 'i', 's', 'h', 'n', 'a']

In [54]:
d.extend(1)

TypeError: 'int' object is not iterable

In [55]:
d.extend(10.0)

TypeError: 'float' object is not iterable

In [3]:
a=[1,2,3,4,5,"2"]

In [5]:
a.count("2")

1

In [6]:
a.index(3)

2

In [7]:
print(a)

[1, 2, 3, 4, 5, '2']

In [8]:
a.insert(2,10)  # index value,value

In [9]:
print(a)

[1, 2, 10, 3, 4, 5, '2']

In [10]:
a.insert(4,[1,3,4,5])

In [11]:
print(a)

[1, 2, 10, 3, [1, 3, 4, 5], 4, 5, '2']

In [12]:
a.pop()

'2'

In [13]:
print(a)

[1, 2, 10, 3, [1, 3, 4, 5], 4, 5]

In [14]:
a.pop()

5

In [15]:
print(a)

[1, 2, 10, 3, [1, 3, 4, 5], 4]

In [16]:
a.pop(4)

[1, 3, 4, 5]

In [17]:
print(a)

[1, 2, 10, 3, 4]

In [18]:
a.pop(2)

10

In [19]:
print(a)

[1, 2, 3, 4]

In [20]:
a.remove(3)

In [21]:
print(a)

[1, 2, 4]

In [22]:
a.reverse()

In [23]:
print(a)

[4, 2, 1]

In [24]:
a.reverse()

In [25]:
print(a)

[1, 2, 4]

In [26]:
b=[3,2,45,6,6,4,34,5,56,7]

In [27]:
print(b)

[3, 2, 45, 6, 6, 4, 34, 5, 56, 7]

In [28]:
b.sort()

In [29]:
print(b)

[2, 3, 4, 5, 6, 6, 7, 34, 45, 56]

In [30]:
b.sort(reverse=True)

In [32]:
print(b)

[56, 45, 34, 7, 6, 6, 5, 4, 3, 2]

In [33]:
b.pop()

2

In [34]:
b.pop(1)

45

In [35]:
b.pop(100)

IndexError: pop index out of range

In [36]:
b

[56, 34, 7, 6, 6, 5, 4, 3]

In [37]:
b.remove(56)

In [38]:
print(b)

[34, 7, 6, 6, 5, 4, 3]

In [39]:
b.remove(100)

ValueError: list.remove(x): x not in list

In [41]:
b[2]=10

In [42]:
print(b)

[34, 7, 10, 6, 5, 4, 3]

In [43]:
b[1:4]

[7, 10, 6]

In [45]:
b[1:4]=[100]

In [46]:
print(b)

[34, 100, 5, 4, 3]

In [47]:
b[1:3]=[1,2,3,4,5]

In [48]:
print(b)

[34, 1, 2, 3, 4, 5, 4, 3]