In [1]:
# set 
# set constructor is set()
# set literal is not available
# set is unordered set of sequence of elemnts.
# set never allowed mutable datatype inside a set.
# set doesnot support indexing and slicing 
# set does not support nested set 
# set doesnot support duplicay
# set has various methods.
# set is mutable datatype

In [2]:
a=set()
print(a)

set()

In [3]:
b={1,2,2,2,3,3,3,4,4,4,5,5,5,6}

In [4]:
print(b)

{1, 2, 3, 4, 5, 6}

In [5]:
{[1,2,3]}

TypeError: unhashable type: 'list'

In [12]:
{1,10.0,"krishna",(1,2,3),{1,2,3}}

TypeError: unhashable type: 'set'

In [13]:
{1,10.0,"krishna",(1,2,3)}

{(1, 2, 3), 1, 10.0, 'krishna'}

In [18]:
a={1,2,3}
b={3,4,5}

In [20]:
#set doesnot support concatination 
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [21]:
a-b

{1, 2}

In [22]:
a.difference(b)

{1, 2}

In [23]:
print(a)

{1, 2, 3}

In [24]:
print(b)

{3, 4, 5}

In [25]:
a.difference_update(b)

In [26]:
print(a)

{1, 2}

In [28]:
print(c)

{1, 2, 3, 4, 5, 6}

In [29]:
print(d)

{4, 5, 6, 7, 8, 9}

In [31]:
b

{3, 4, 5}

In [32]:
b.clear()

In [33]:
print(b)

set()

In [35]:
c={1,2,3,4,5,6}
d={6,4,5,6,7,8,9}
print(c)
print(d)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

In [37]:
c.update(d)

In [38]:
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
c.add((1,2,3,4,5))

In [45]:
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, (1, 2, 3, 4, 5)}

In [47]:
c

{(1, 2, 3, 4, 5), 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [54]:
d=c.copy()

In [55]:
print(d)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 1000, (1, 2, 3, 4, 5)}

In [56]:
print(id(d))
print(id(c))

2153302914464
2153302916480

In [57]:
c.add(1100)

In [58]:
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 1000, 1100, (1, 2, 3, 4, 5)}

In [59]:
print(d)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 1000, (1, 2, 3, 4, 5)}

In [60]:
d.discard(1000)

In [61]:
print(d)

{1, 2, 3, 4, 5, 6, 7, 8, 9, (1, 2, 3, 4, 5)}

In [62]:
d.intersection(c)

{(1, 2, 3, 4, 5), 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
c

{(1, 2, 3, 4, 5), 1, 1000, 1100, 2, 3, 4, 5, 6, 7, 8, 9}

In [64]:
d

{(1, 2, 3, 4, 5), 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [65]:
d.intersection_update(c)

In [66]:
print(d)

{1, 2, 3, 4, 5, 6, 7, 8, 9, (1, 2, 3, 4, 5)}

In [67]:
l={1,2,3,4,5,6,7}
m={2,3}

In [68]:
l.issuperset(m)

True

In [69]:
m.issubset(l)

True

In [75]:
a={1,2,3}
b={4,5,6}

In [76]:
a.isdisjoint(b)

True

In [77]:
print(a)

{1, 2, 3}

In [78]:
a.pop()

1

In [79]:
print(a)

{2, 3}

In [80]:
a.remove(2)

In [81]:
print(a)

{3}

In [82]:
a={1,2,3}
b={3,4,5}

In [83]:
a.symmetric_difference(b)

{1, 2, 4, 5}

In [84]:
a

{1, 2, 3}

In [85]:
b

{3, 4, 5}

In [86]:
a.symmetric_difference_update(b)

In [87]:
print(a)

{1, 2, 4, 5}

In [88]:
print(b)

{3, 4, 5}