In [4]:
# tuple

# tuple constructor is tuple()
# tuple literal is ()
# tuple is immutable(hashable)
# tuple support indexing 
# tuple support slicing 
# tuple support nested tuple 
# tuple is faster then list
# tuple has only two method index and count

In [7]:
a=tuple()
print(a,type(a))

() <class 'tuple'>

In [9]:
b=()
print(b,type(b))

() <class 'tuple'>

In [10]:
c=(1,2,3,4,5,6)

In [11]:
c[1]

2

In [12]:
c[-1]

6

In [13]:
c[5]

6

In [14]:
print(c)

(1, 2, 3, 4, 5, 6)

In [15]:
c[1:4:1]

(2, 3, 4)

In [20]:
d=("krishna",)
print(d,type(d))

('krishna',) <class 'tuple'>

In [17]:
a=["krishna"]
print(a,type(a))

['krishna'] <class 'list'>

In [21]:
a,b,c=10,20,30

In [22]:
print(a)

10

In [23]:
print(b)

20

In [24]:
print(c)

30

In [25]:
z=2,3,4,2,"krishn","mohan",34.09

In [26]:
print(z)

(2, 3, 4, 2, 'krishn', 'mohan', 34.09)

In [27]:
a,b,c,d,e,f,g=z

In [28]:
print(a)

2

In [29]:
print(b)

3

In [30]:
z

(2, 3, 4, 2, 'krishn', 'mohan', 34.09)

In [32]:
k,l,*m=z

In [33]:
print(k)

2

In [34]:
print(l)

3

In [35]:
print(m)

[4, 2, 'krishn', 'mohan', 34.09]

In [39]:
k,*m,l=z

In [36]:
z

(2, 3, 4, 2, 'krishn', 'mohan', 34.09)

In [37]:
print(k)

2

In [40]:
print(l)

34.09

In [41]:
print(m)

[3, 4, 2, 'krishn', 'mohan']

In [42]:
k,*m,*l=z

SyntaxError: multiple starred expressions in assignment (1515721046.py, line 1)

In [43]:
a,b,*c=(3,2,4,5,6,7)

In [44]:
a,*b,f=(3,2,4,5,6,7)

In [1]:
# nested tuple

In [2]:
a=(12,3,4,5,(1,2,3,4),34,5,6)

In [3]:
print(a)

(12, 3, 4, 5, (1, 2, 3, 4), 34, 5, 6)